{% extends "layout.html" %}

{% block content %}
<h2>ทักษะดิจิทัล</h2>
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card border-primary">
        <div class="card-body">
          <h5 class="card-title">ผลการสอบทักษะดิจิทัล</h5>
          <p class="card-text">คำอธิบายเพิ่มเติม</p>
          <a href="#" class="btn btn-primary">ดูคะแนน</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-warning">
        <div class="card-body">
          <h5 class="card-title">ดูข้อมูลประวัติผ่านทักษะดิจิทัล</h5>
          <p class="card-text">คำอธิบายเพิ่มเติม</p>
          <a href="#" class="btn btn-primary">ดูข้อมูล</a>
        </div>
      </div>
    </div>
  </div> 
{% endblock %}